<div class="container-carousel">
  <div class="card-container">
    <ul>
      <li class="icons">
        <fa-icon (click) = "backSlider()" [icon]="['fas', 'chevron-left']"></fa-icon>
      </li>
      <li *ngFor="let lista of aux">
        <app-card [cardCurso]="lista" class="card-active"></app-card>
      </li>
      <li class="icons">
        <fa-icon (click) = "nextSlider()" [icon]="['fas', 'chevron-right']"></fa-icon>
      </li>
    </ul> 
    <div class="link">
      <a href="">Ver todos os cursos</a>
    </div>
  </div>
</div>