ul{
  display: flex;
  list-style-type: none;
  justify-content: center;  
  align-content: center;
  align-items: center;
}
  
ul li{
  margin: 15px;
}

.icons{
  font-size: 24px;
  color: rgb(156, 154, 154);
}