.content-title{
    color: #fff;
    display: flex;
    line-height: 20px;
    padding: 20px;
    height: 45px;
    align-items: center;
    width: 100%;
  }
  
  .itens{
    margin: 5px;
  }
  
  .example-card{
    border-radius: 0;
    height: 535px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
    
  .example-card::after{
    content: "";
    color: #ffffff;
    background: linear-gradient(270deg, rgba(240, 106, 15, 0.2) 5%, rgba(0, 0, 0, 0.9) 95%);
  }
  
  .text{
    z-index: 1;
    color: #ffffff;
    line-height: 24.2px;
    display: flex;
    align-items: center;
    justify-content: left;
    justify-content: center;
    height: 100%;
    margin: 50px;
    flex-direction: column;  
    width: 30%;
    text-align: left;
  }
  
  .title{
    font-size: 40px;
    width: 100%;
    line-height: 48.41px;
    font-weight: bold;
  }
  
  .descript{  
    font-size: 20px;
  }
  
  .button{
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
    width: 188px;
    height: 48px;
    border-radius: 5px;
    color: #fff;
    border: none;
    font-weight: bold;
    opacity: 0.8; 
  }
  
  .content-button{
    width: 100%;
    margin-top: 10px;
  }
  
  .icons-details{
    font-size: 64px;
  }
  
  .content-details{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  
  .details-itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 60px;
  }
  
  .title-details{
    font-weight: bold;
    line-height: 19.36px;
  }
  
  .details-itens img{
    width: 64px;
    height: 64px;
    margin: 15px;
  }
  
  .description-title{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  
  .description-container{
    border-top-width: 2px;
    border-top-style: solid;
    width: 600px;
    text-align: justify;
    padding: 10px 15px 10px 0;
  }
  
  .description{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    align-content: center;
    margin: 50px 0; 
  }
  
  .grafico {
    padding: 0.5rem;
    border-radius: 5px;
    padding: 20px;
    width: auto;
    height: 350px;
    background-color: rgba(128, 128, 128, 0.05);
  
  }
  
  .teste{
    height: 40px;
    margin: 0.3rem 0;
    width: 360px;
    text-align: right;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .barras {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 3rem;
    overflow: hidden;
    height: 40px;
    border-radius: 5px;
  }
  
  .bar1 { width: 1%; animation: barra1 3s ease-in-out 2s 1 both; }
  .bar2 { width: 1%; animation: barra2 3s ease-in-out 2s 1 both; }
  .bar3 { width: 1%; animation: barra3 3s ease-in-out 2s 1 both; }
  
  
  .texto{
      padding: 0.5rem;
      width: 100%;
      color: #000;
      font-weight: bold;
      font-size: 14px;
  }
  
  .texto-title{
    color: rgba(70, 65, 65, 1);
      line-height: 16.94px;
      font-size: 14px;
  }
  
  .fonte{
    margin-top: 60px;
  }
  
  @keyframes barra1 {
      0% { width: 1%; }
      100% { width: 42%; }
  }
  
  @keyframes barra2 {
      5% { width: 1%; }
      100% { width: 48%; }
  }
  
  @keyframes barra3 {
      10% { width: 1%; }
      100% { width: 100%; }
  }
  
  .title-graf{
    font-size: 20px;
    line-height: 24.2px;
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
  
  .description-container2 img{
    width: 400px;
    height: 280px;
  }
  
  .description-container2{
    margin: 10px 0;
  }
  
  .description-container3{
    width: 606px;
    height: 580px;  
    margin: 100px 0;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .div2 {
    position: absolute;
    top: -50px;
    left: -40px; 
    width: 300px;
    height: 80px;
    border-radius: 5px;
    z-index: 1;
  }
  
  .div3 {
    position: absolute;
    bottom: -40px;
    right: -40px; 
    width: 300px;
    height: 80px;
    border-radius: 5px;
    z-index: 1;
  }
  
  .title-option{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .subtitle{
    font-size: 14px;
    font-weight: bold;
  }
  
  .icons-check{
    font-size: 20px;
  }
  
  .option-check{
    margin: 10px;
    color: rgba(70, 65, 65, 1);
  }
  
  .checks{
    display: flex;
    flex-direction: column;
  }
  
  .option button{
    border: none;
    width: 188px;
    height: 40px;
    color:#fff;
    border-radius: 5px;
    margin: 10px;
  }
  
  .footer {
    width: 100%;
  }
  
  .footer img{
    width: 100%;
  }
  
  .backorange{
    background-color: #F06A0F; 
  }
    
  .backgreen-dark{
    background-color: #448844;
  }
    
  .backgreen{
    background-color: #01C549;
  }
    
  .backbrown{
    background-color: #996B42;
  }
    
  .backlilac{
    background-color: #8921A6;
  }
    
  .backpink{
    background-color: #D30C7B;
  }
    
  .backcyan{
    background-color: #1DB7D8;
  }
    
  .backblue{
    background-color: #447EF2;
  }
    
  .backyellow{
    background-color: #FEC200;
  }
    
  .backred{
    background-color: #BA2B00;
  }