<app-header></app-header>
<app-menu></app-menu>
<div class="content-title">
    <div class="itens-title">
      Home
    </div>
    <div class="itens-title">
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
    <div class="itens-title">
      Unidades
    </div>
    <div class="itens-title">
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
    <div class="itens-title">
      Senac Assú
    </div>
</div>

<div class="container-banner">
  <div class="detail-container">
     <h1>Centro Senac Assú</h1>
     <div class="itens-container">
       <fa-icon [icon]="['fas', 'clock']"></fa-icon>
       <span>Segunda a sexta-feira, das 8h às 17h</span>
     </div>
     <div class="itens-container">
        <fa-icon [icon]="['fas', 'phone']"></fa-icon>
        <span>(84) 3331-1585</span>
     </div>
     <div class="itens-container">
        <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
        <span>4005-1000</span>
     </div>
     <div class="itens-container">
        <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
        <span>E-mail: eadrn.senac.br</span>
     </div>
     <div class="itens-container">
        <fa-icon [icon]="['fas', 'location-arrow']"></fa-icon>
        <span>Rua 24 de junho, 1074 - CentroAssu - RN - Cep: 59.650-000</span>
     </div>
     <div class="itens-container">
        <button class="button">Vê maps</button>
     </div>
  </div>
  <div class="img-container-unidade">
  </div>
</div>
