<div class="content"> 
    <div class="content-principal">

      <div class="itens">
        <div class="image">
          <img src="../../../assets/logo.png" alt="">
        </div>
        <div class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </div>
        <div class="content-icons">
          <div class="itens-icon">
            <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
          </div>
          <div class="itens-icon">
            <fa-icon [icon]="['fab', 'instagram']"></fa-icon> 
          </div>
          <div class="itens-icon">
            <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon> 
          </div>
          <div class="itens-icon">
            <fa-icon [icon]="['fab', 'youtube']"></fa-icon> 
          </div>
          <div class="itens-icon">
            <fa-icon [icon]="['fab', 'linkedin']"></fa-icon> 
          </div>
        </div>
      </div>
      
      <div class="itens">
        <span class="title">Cursos</span>
        <p>Comunicação</p>
        <p>Gastronomia</p>
        <p>Gestão e negócios</p>
        <p>Idiomas</p>
        <p>Tecnologia da informação</p>
        <p>Saúde</p>
      </div>
       
      <div class="itens">
        <span class="title">Tipos</span>
        <p>Livres</p>
        <p>Idiomas</p>
        <p>Técnicos</p>
        <p>Senac EAD</p>
      </div>
  
      <div class="itens">
        <span class="title">Unidades</span>
        <p>Features</p>
        <p>Pricing</p>
        <p>Cases studies</p>
        <p>Reviews</p>
        <p>Updates</p>
      </div>
  
      <div class="itens">
        <span class="title">Senac</span>
        <p>Senac empregabilidade</p>
        <p>Senac gratuidade</p>
        <p>Para empresas</p>
        <p>Blog</p>
      </div>
  
    </div>
    <div class="content-footer">
      <div class="copy">
        <span>&#169; Copyright Box³</span>
      </div>
      <div class="direct">
        <span class="todos">Todos os direitos reservados </span>
        <span>Termos e condições</span>
        <span>Política de Privacidade</span>
      </div>
      
    </div>
  </div>