<div class="content">
    <div class="menuoption" >
       <div class="itens">
         <a href="#">Quem Somos</a>
       </div>|
       <div class="itens">
         <a href="#">Transparência</a>
       </div>|
       <div class="itens">
         <a href="#">Governança</a>
       </div>|
       <div class="itens">
         <a href="#">Nóticias</a>
       </div>|
       <div class="itens">
         <a href="#">Licitações</a>
       </div>|
       <div class="itens">
         <a href="#">Contato</a>
       </div>|
       <div class="itens">
         <a href="#">Fecomércio</a>
       </div>|
       <div class="itens">
         <a href="#">Sesc RN</a>
       </div>
       <div class="itens">
         <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
       </div>
       <div class="itens">
         <fa-icon [icon]="['fab', 'instagram']"></fa-icon> 
       </div>
       <div class="itens">
         <fa-icon [icon]="['fab', 'x-twitter']"></fa-icon> 
       </div>
       <div class="itens">
         <fa-icon [icon]="['fab', 'youtube']"></fa-icon> 
       </div>
       <div class="itens">
         <fa-icon [icon]="['fab', 'linkedin']"></fa-icon> 
       </div>
    </div>
 </div>