<app-header></app-header>
<app-menu></app-menu>
<div class="container-blog">
  <div class="example-card">
    <span class="title-principal">Nóticias</span>
    <img mat-card-image src="../../../assets/images/news/group-young-people-doing-experiments-robotics-laboratory-using-tools.jpg"  alt="Photo of a Shiba Inu" />       
    <mat-card-header>
      <mat-card-subtitle class="subtitle">
        TECNOLOGIA
      </mat-card-subtitle>
      <mat-card-title class="title">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sunt iure placeat
        <div class="button-title">
          <button><fa-icon [icon]="['fas', 'plus']"></fa-icon> Salvar</button>
          <button class="compartilhar"><fa-icon [icon]="['fas', 'code-compare']"></fa-icon>Compartilhar</button>
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="details">
      <p>By <span class="createby">Lorem Ipsum</span>, <span class="createby">Lorem Ipsum </span> and <span class="createby">Lorem Ipsum</span></p>
      <p><span class="datedetail">26/12/2023 10:00 PM</span></p>
      <div class="content-details">
        <p> ipsum dolor sit amet, consectetur adipiscing elit. Donec id vehicula metus. Donec ultricies enim elit, non suscipit massa vehicula et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed hendrerit malesuada tortor quis imperdiet. Maecenas fringilla orci nunc, in suscipit ex dignissim sed. Suspendisse feugiat id ante et luctus. Nunc laoreet nunc sed turpis hendrerit, id bibendum leo fringilla. Curabitur sollicitudin purus vitae metus vehicula auctor. Donec auctor sapien eu sodales eleifend. Suspendisse arcu purus, molestie a efficitur ut, porttitor quis leo. Donec lobortis metus ac vestibulum hendrerit. Vestibulum lobortis velit at lacus imperdiet, sit amet feugiat ante pulvinar. Mauris at odio id ipsum laoreet dignissim. Donec dapibus fermentum pellentesque. Cras tellus ex, efficitur at quam non, sollicitudin vestibulum dolor.
        </p>
        <p> sodales, dui vel tempor egestas, ligula risus dignissim nisi, nec tincidunt orci urna eu ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin lobortis, leo nec vehicula aliquet, nunc mi iaculis lorem, dapibus ornare lorem risus sit amet lectus. Duis cursus maximus mi. Sed at magna eu lorem ultrices aliquam. Curabitur consequat posuere nisl, vitae semper leo viverra et. Pellentesque facilisis augue sed dui pretium consequat. Proin non neque placerat erat sollicitudin sollicitudin quis ornare diam. Nunc tellus risus, cursus et dolor eget, pharetra rhoncus odio. Nunc maximus sem at nulla laoreet, in auctor turpis sagittis. Aliquam imperdiet, erat et sodales accumsan, ipsum nunc fermentum neque, in fermentum odio erat ac neque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin dignissim mauris ligula. Fusce at vestibulum sapien, et congue metus. In hac habitasse platea dictumst.
        </p>
        <p>Duis odio mi, venenatis ut ornare sit amet, molestie eget odio. In pretium felis in urna feugiat, malesuada ultrices arcu tincidunt. Morbi hendrerit, lectus id blandit volutpat, orci dui faucibus eros, eu vehicula nibh libero eu quam. Duis vitae iaculis nibh. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec convallis augue non congue mattis. Pellentesque ac nisi at arcu faucibus tincidunt ut sollicitudin velit. Sed sit amet turpis nec tortor gravida scelerisque. Praesent condimentum tortor eu lorem interdum, eget porta orci mollis.
        </p>
      </div>
    </mat-card-content>
  </div>
  
  <div class="container-menu-card">

    <div class="title-principal-menu-lateral">
      <span>Relacionadas</span>
      <div class="subtitle-principal-menu-lateral">Mostar tudo</div>
    </div>
    <mat-card class="menulateral">
      <div class="img-menu-lateral">

      </div> 
      <mat-card-header>
        <mat-card-subtitle class="subtitle-menu-lateral">
          TECNOLOGIA
        </mat-card-subtitle>
        <mat-card-title class="title-menu-lateral">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sunt iure placeat
        </mat-card-title>
      </mat-card-header>
    </mat-card> 

    <mat-card class="menulateral">
        <div class="img-menu-lateral">
  
        </div> 
        <mat-card-header>
          <mat-card-subtitle class="subtitle-menu-lateral">
            TECNOLOGIA
          </mat-card-subtitle>
          <mat-card-title class="title-menu-lateral">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sunt iure placeat
          </mat-card-title>
        </mat-card-header>
      </mat-card> 
      <mat-card class="menulateral">
        <div class="img-menu-lateral">
  
        </div> 
        <mat-card-header>
          <mat-card-subtitle class="subtitle-menu-lateral">
            TECNOLOGIA
          </mat-card-subtitle>
          <mat-card-title class="title-menu-lateral">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sunt iure placeat
          </mat-card-title>
        </mat-card-header>
      </mat-card> 
  </div>

  
</div>
