<app-header></app-header>
<app-menu></app-menu>
<div class="content">
  <div class="content-title">
      <div class="itens">
        Home
      </div>
      <div class="itens">
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </div>
      <div class="itens">
        Cursos
      </div>
      <div class="itens">
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </div>
      <div class="itens">
        Áreas
      </div>
      <div class="itens">
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </div>
      <div class="itens">
       {{ curso.typecurso }}
      </div>
  </div>
  <mat-card class="example-card" style="background-image: url({{curso.urlimg}});">
    <div class="text">
      <div class="title">
        {{ curso.typecurso }}
      </div>
      <div class="descript">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum alias laboriosam nam odio quaerat veritatis aut ipsam iste fuga ipsum, beatae error.
      </div>
      <div class="content-button">
        <button class="button">Conheça a Profissão</button>
      </div>
    </div>
  </mat-card>
  <div class="content-details">

  </div>
</div>