<app-header></app-header>
<app-menu></app-menu>

<div class="container-forms-request">
  <div class="forms-request">
    <div class="title-forms-request">
      Solicitação de reserva
    </div>
    <form action="">
        <label for="name" >
          Nome   
          <input type="text" name="name" placeholder=""/>
        </label>
        <label for="name" >
          E-mail
          <input type="email" name="email" placeholder=""/>
        </label>
        <div class="double-input">
          <label for="date" >
            Data de nascimento
            <input type="date" name="date" placeholder=""/>
          </label>
          <label for="phone" >
            Telefone
            <input type="tel" name="phone" placeholder=""/>
          </label>
        </div>
        <div class="double-input">
          <label for="cep" >
            CEP
            <input type="text" name="cep" placeholder=""/>
          </label>
          <label for="rua" >
            Rua
            <input type="text" name="rua" placeholder=""/>
          </label>
        </div>

        <label for="bairro" >
          Bairro
          <input type="text" name="bairro" placeholder=""/>
        </label>

        <label for="assunto" >
          Assunto
          <input type="text" name="assunto" placeholder="Solicitação de reserva"/>
        </label>

        <label for="cep" >
          CEP
          <textarea name="" id="" cols="20" rows="5" placeholder="
          TURMA:  ARTE IA: DOMINANDO A CRIAÇÃO DE IMAGENS INTELIGENTES
          COD TURMA: 392
          UNIDADE: SENAC ALECRIM
          PERÍODO: 18/12/2023 - 21/12/2023
          HORÁRIO: Segunda-feira a Quinta-feira (18:00 às 22:00)"></textarea>
        </label>
    </form>
  </div>

  <div class="img-forms-request">
    <img src="../../../assets/images/forms-request/563b4528-112c-4162-a59d-4927e1f87f7b.png" alt="">
  </div>
</div>