<div class="content">
  <div class="itens">
    <div class="submit-line">
      <input mat-button [matMenuTriggerFor]="input" type="search" name="onchange" id="change" placeholder="Ordenar por">
      <fa-icon class="search-icon" [icon]="['fas', 'chevron-up']"></fa-icon>
    </div>

    <mat-menu #input="matMenu">
      <div class="menu-input">
        <div class="subtitle-input">
          <button mat-menu-item>Cursos em destaques</button>
          <button mat-menu-item>Próximas Turmas</button>
          <button mat-menu-item>Promoções</button>
          <button mat-menu-item>Senac Empreabilidade</button>
          <button mat-menu-item>Senac Gratuidade</button>
        </div>
      </div>
    </mat-menu>
      
    <section class="example-section">
      <div class="title-itens">
        <span class="title">Turno</span> 
        <a (click)="limparTurno()" class="subtitle">Limpar</a> 
      </div>

      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin"  [(ngModel)]="turnoFilter.manha">Manhã</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="turnoFilter.tarde">Tarde</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="turnoFilter.noite">Noite</mat-checkbox>
    </section>

    <section class="example-section">
      <div class="title-itens">
        <span class="title">Modalidade</span>
        <a (click)="limparModalidade()" class="subtitle">Limpar</a> 
      </div>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="modalidadeFilter.presencial">Presencial</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="modalidadeFilter.online">Ensino a distância (EAD)</mat-checkbox>
    </section>

    <section class="example-section">
      <div class="title-itens">
        <span class="title">Tipo</span>
        <a (click)="limparTipo()" class="subtitle">Limpar</a> 
      </div>

      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="tipoFilter.livre">Livre</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="tipoFilter.ead">EAD</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="tipoFilter.idiomas">Idiomas</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="tipoFilter.tecnicos">Técnicos</mat-checkbox>
    </section>      

    <section class="example-section">
      <div class="title-itens">  
        <span class="title">Categoria</span>
        <a (click)="limparCategoria()" class="subtitle">Limpar</a> 
      </div>

      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="categoriaFilter.beleza"x  >Beleza e Estética</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="categoriaFilter.comercio">Comércio</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="categoriaFilter.comunicacao">Comunicação</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="categoriaFilter.design">Desing</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="categoriaFilter.gastronomia">Gastronomia</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="categoriaFilter.idiomas">Idiomas</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="categoriaFilter.informatica">Informática</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="categoriaFilter.saude">Saúde</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="categoriaFilter.seguranca">Segurança</mat-checkbox>
      <mat-checkbox (click) = "aplicarFiltro()" class="example-margin" [(ngModel)]="categoriaFilter.turismo">Turismo</mat-checkbox>
    </section>

  </div>
</div>