.content{
  font-size: 14px;
}

.search-icon{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer; 
  color: rgba(70, 65, 65);
}
  
.subtitle-input button{
  color: rgba(70, 65, 65, 0.8);
  padding: 5px ;
  text-align: center;
}

.submit-line{
  position: relative;
}

.itens input{
  padding-left: 10px;
  width: 200px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid rgba(70, 65, 65, 1);
}

.menu-input{
  margin: 5px;
}

.title, .subtitle{
  color: rgba(70, 65, 65);
  font-weight: bold;
}

.example-section{
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.example-margin{
  margin: 0;
  padding: 0;
}

.content{
  margin-left: 25px;
}

.title-itens{
  display: flex;
  justify-content: space-between;
}

.subtitle{
  color: rgba(242, 139, 60);
}