<app-header></app-header>
<app-menu></app-menu>
<app-banner></app-banner>
<div class="title">
  Nossos Cursos
</div>

<div class="content-carrossel">
  <router-outlet class="itens"> </router-outlet>
  <app-carousel class="itens"></app-carousel>
</div>

<div class="title">
  Acesso Rápido
</div>
<app-carrosselacessorapido></app-carrosselacessorapido>
<div class="title">
  Unidades
</div>
<app-carrosselunidades></app-carrosselunidades>
<div class="title">
  Notícias
</div>
<app-carrosselnoticias></app-carrosselnoticias>
<app-footer></app-footer>
