<app-header></app-header>
<app-menu></app-menu>
<div class="content-title">
    <div class="itens-title">
      Home
    </div>
    <div class="itens-title">
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
    <div class="itens-title">
      Senac
    </div>
    <div class="itens-title">
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
    <div class="itens-title">
      Atendimento Corporativo
    </div>
</div>
<div class="container-company">
  <mat-card class="example-card" style="background-image: url('../../../assets/images/banners/close-up-business-people-conference-room.jpg');">
    <div class="text-banner-company">
      <div class="title-banner-company">Atendimento Corporativo</div>
       <div class="subtitle-banner-company">
        Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
       </div>
    </div>
  </mat-card>
  
  <div class="container-detail-company">
    <div class="itens-company">
      <div class="img-container-company">
        <img src="../../../assets/images/company-detail/Captura de tela 2024-01-18 162456.png" alt="">
      </div>
      <div class="title-detail-container">Atendimento Personalizado</div>
      <div class="text-detail-company">
        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
      </div>
    </div>

    <div class="itens-company">
      <div class="img-container-company">
        <img src="../../../assets/images/company-detail/Captura de tela 2024-01-18 163519.png" alt="">
      </div>
      <div class="title-detail-container">Capacitação</div>
      <div class="text-detail-company">
         On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
      </div>
    </div>

    <div class="itens-company">
      <div class="img-container-company">
        <img src="../../../assets/images/company-detail/Captura de tela 2024-01-18 163929.png" alt="">
      </div>
      <div class="title-detail-container">Diagnóstico e solução</div>
      <div class="text-detail-company">
        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
      </div>
    </div>

    <div class="itens-company">
      <div class="img-container-company">
        <img src="../../../assets/images/company-detail/Captura de tela 2024-01-18 164659.png" alt="">
      </div>
      <div class="title-detail-container">Dispensa de Licitação</div>
      <div class="text-detail-company">
        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
      </div>
    </div>

    <div class="itens-company">
      <div class="img-container-company">
        <img src="../../../assets/images/company-detail/Captura de tela 2024-01-18 165101.png" alt="">
      </div>
       <div class="title-detail-container">Reconhecimento</div>
       <div class="text-detail-company">
          On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
       </div>
    </div>

    <div class="itens-company">
      <div class="img-container-company">
        <img src="../../../assets/images/company-detail/Captura de tela 2024-01-18 170725.png" alt="">
      </div>
       <div class="title-detail-container">Setor Público</div>
       <div class="text-detail-company">
          On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
       </div>
    </div>
  </div>

  <div class="container-service-company">
    <div class="text-service-company">
      <div class="title-service-company">O que é o Atendimento Corporativo?</div>
      <div class="subtitle-service-company">
        But I must explain to you how all this mistaken idea of 
        denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the 
        actual teachings of the great explorer of the truth, the 
        master-builder of human happiness. No one rejects, dislikes, 
        or avoids pleasure itself, because it is pleasure, but because 
        those who do not know how to pursue pleasure rationally 
        encounter consequences that are extremely painful.
      </div>
    </div>
    <div class="img-service-company">
     <img src="../../../assets/images/company-detail/four-business-colleagues-stand-talking-meeting-room.jpg" alt="">
    </div>
  </div>

  <div class="container-solution-company">
    <div class="img-solution">
      <img src="../../../assets/images/company-detail/success-is-top-their-agenda-high-angle-shot-group-businesspeople-having-meeting-office.jpg" alt="">
   </div>
    <div class="text-solution">
       <div class="title-solution">Para cada empresa, uma solução. Para todas, resultados.</div>
       <div class="descript-solution">O Atendimento Corporativo do Senac apresenta atendimento personalizado de acordo com cada perfil e necessidade da organização.</div>
       <div class="container-option-solution">
         <div class="option-solution">
           <fa-icon class="icon-solution1" [icon]="['fas','play']"></fa-icon>
           <span>
            Atividades planejadas por meio de consultorias, capacitação, palestras, workshops, eventos, treinamentos e cursos realizados dentro da instituição ou em local sugerido.
           </span>
         </div>
         <div class="option-solution">
           <fa-icon class="icon-solution2" [icon]="['fas','play']"></fa-icon>
           <span>
            Soluções Educacionais para organizações de natureza pública, privada ou não governamentais.
           </span>
         </div>
       </div>
       <div>
        <a class="link-solution" href="">Contrate agora</a>
       </div>
    </div>

  </div>

  <div class="container-service-offering">
    <div class="container-option-service-offering">
      <div class="title-option-service-offering">
        Oferecemos os serviços de:
      </div>
      <div class="container-itens-service-offering">
        <div class="itens-option-service-offering">
          <fa-icon class="icon-service-offering" [icon]="['fas','check-double']"></fa-icon>
          <span>Workshops;</span>
        </div>
        <div class="itens-option-service-offering">
          <fa-icon class="icon-service-offering" [icon]="['fas','check-double']"></fa-icon>
          <span>Palestras;</span>
        </div>
        <div class="itens-option-service-offering">
          <fa-icon class="icon-service-offering" [icon]="['fas','check-double']"></fa-icon>
          <span>Consultorias</span>
        </div>
        <div class="itens-option-service-offering">
          <fa-icon class="icon-service-offering" [icon]="['fas','check-double']"></fa-icon>
          <span>Cursos de aperfeiçoamento;</span>
        </div>
        <div class="itens-option-service-offering">
          <fa-icon class="icon-service-offering" [icon]="['fas','check-double']"></fa-icon>
          <span>Orientações corporativas;</span>
        </div>
        <div class="itens-option-service-offering">
          <fa-icon class="icon-service-offering" [icon]="['fas','check-double']"></fa-icon>
          <span>Cursos de capacitação;</span>
        </div>
        <div class="itens-option-service-offering">
          <fa-icon class="icon-service-offering" [icon]="['fas','check-double']"></fa-icon>
          <span>Cursos de in company;</span>
        </div>
        <div class="itens-option-service-offering">
          <fa-icon class="icon-service-offering" [icon]="['fas','check-double']"></fa-icon>
          <span>Seminários;</span>
        </div>
        <div class="itens-option-service-offering">
          <fa-icon class="icon-service-offering" [icon]="['fas','check-double']"></fa-icon>
          <span>Certificação.</span>
        </div>
      </div>
      <div>
        <a class="link-solution" href="">Contrate agora</a>
      </div>
    </div>
    <div class="img-option-service-offering">
      <img src="../../../assets/images/company-detail/senior-manager-is-sitting-boardroom-with-multiracial-colleagues-discussing-project.jpg" alt="" srcset="">
    </div>
  </div>

  <mat-card class="container-forms-company" style="background-image: url('../../../assets/images/company-detail/team-meeting-office\ \(1\).jpg');">
    <div class="forms-company">
      <div class="title-forms-company">Agende uma visita conosco</div>
      <div class="subtitle-forms-company">
        Não perca mais tempo. Entenda como o Senac pode ajudar a sua empresa a ter sucesso. Basta preencher o formulário.
      </div>
      <form class="forms-company-container" action="">
          <label for="name">
            <input type="text" placeholder="Nome*" name="name" id="name">
          </label>      
          <label for="email">
            <input type="email" placeholder="E-mail" name="email" id="name">
          </label>
          <div class="double-input">
            <label for="phone">
              <input type="phone" placeholder="Telefone*" name="phone" id="phone">
            </label>
            <label for="phone">
              <input type="phone" placeholder="WhatsApp*" name="phone" id="phone">
            </label>
          </div>
          <label for="company">
            <input type="text" placeholder="Empresa*" name="company">
          </label>
          <div class="double-input">  
            <label for="office">
              <input type="text" placeholder="Cargo*" name="office">
            </label>
            <select>
              <option value="cidade">Cidade*</option>
              <option value="cidade">Cidade*</option>
              <option value="cidade">Cidade*</option>
            </select>
          </div>
          <label for="term">
            <input type="checkbox" name="term" class="term">
            Eu concordo em receber comunicações.
          </label>
          <label for="term">
            <input type="checkbox" name="term" class="term">
            Ao informar meus dados, eu concordo com a Política de Privacidade.
          </label>
          <button class="forms-button">Enviar</button>
      </form>
    </div>  
  </mat-card>
</div>