<app-header></app-header>
<app-menu></app-menu>

<div class="content">
  <div class="content-title {{curso.background}}">
      <div class="itens">
        Home
      </div>
      <div class="itens">
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </div>
      <div class="itens">
        Cursos
      </div>
      <div class="itens">
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </div>
      <div class="itens">
        Áreas
      </div>
      <div class="itens">
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </div>
      <div class="itens">
       {{ curso.name }}
      </div>
  </div>

  <mat-card class="example-card" style="background-image: url({{curso.urlimgbanner}});">
    <div class="text">
      <div class="title">
        {{ curso.name }}
      </div>
      <div class="descript">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum alias laboriosam nam odio quaerat veritatis aut ipsam iste fuga ipsum, beatae error.
      </div>
      <div class="content-button">
        <button class="button">Conheça a Profissão</button>
      </div>
    </div>
  </mat-card>
  
  <div class="content-details">
     <div class="details-itens">
       <fa-icon class="icons-details teste2" style="color: {{ curso.cor }};" [icon]="['fas', 'graduation-cap']"></fa-icon> 
       <span class="title-details">Formação Completa</span>
       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis libero repellat velit enim omnis modi voluptas, ullam assumenda.
       </p>
     </div>
     <div class="details-itens">
       <img class="icons-details" src="../../../assets/images/icons/badge check.png" alt="" srcset="">
       <span class="title-details">Aprenda com Especialistas</span>
       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis libero repellat velit enim omnis modi voluptas, ullam assumenda.
       </p>
    </div>
    <div class="details-itens">
      <fa-icon class="icons-details teste2" style="color: {{ curso.cor }};" [icon]="['fas', 'star']"></fa-icon> 
      <span class="title-details">Cursos</span>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis libero repellat velit enim omnis modi voluptas, ullam assumenda.
       </p>
    </div>
  </div>

  <div class="description">
    <div class="description-container" style="border-top-color: {{ curso.cor }}">
      <div class="description-title">{{ curso.name }}</div>
      <p>
        These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.
      </p>
      <p>
        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.   
      </p>
    </div>
    
  <section class="grafico">
    <div class="title-graf">Média salarial</div>
    <span class="texto-title">Iniciante</span>
    <div class="teste">
      <div class="barras bar1 {{ curso.background }}">
      </div>
      <span class="texto">R$ 4.000/mês</span>
    </div>
    <span class="texto-title">Formado na área</span>
    
    <div class="teste">
      <div class="barras bar2 {{ curso.background }}">
      </div>
      <span class="texto">R$ 7.000/mês</span>
    </div>
    <span class="texto-title">Consolidado na área</span>
    <div class="teste">
      <div class="barras bar3 {{ curso.background }}">
      </div>
      <span class="texto">R$ 10.000/mês</span>
    </div>
    <div class="texto-title fonte">*Fonte: colocar uma fonte</div>
  </section>
  </div>
  
  <div class="description">
    <div class="description-container2" style=" box-shadow: -15px -15px 0px 0px {{ curso.cor }};">
      <img src={{curso.img1}}  alt="" srcset="">
    </div>
    <div class="description-container" style="border-top-color: {{ curso.cor }}">
      <div class="description-title">O que faz um profissonal da área da beleza?</div>
      <p>
        These cases are perfectly simple and easy to distinguish. In a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like best, every pleasure is to be welcomed and every pain avoided.
      </p>
      <p>
        Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.   
      </p>
    </div>
  </div>

  <div class="description">
    <div class="description-container3"  style="background-image: url({{curso.img2}});">
      <div class="div2 {{ curso.background }}"></div>
      <div class="div3 {{ curso.background }}"></div>
    </div>

    <div class="option">
      <div class="title-option">
        <span class="subtitle" style="color: {{ curso.cor }};">O QUE NOSSOS CURSOS OFERECEM</span>
        <div class="description-title">O que faz um profissonal da área da beleza?</div>
      </div>

      <div class="checks">
        <span class="option-check"  style="color: {{ curso.cor }};"><fa-icon class="icons-check" [icon]="['fas', 'check-circle']"></fa-icon>
        These cases are perfectly simple and easy to distinguish. 
        </span>
        <span class="option-check" style="color: {{ curso.cor }};"><fa-icon class="icons-check" [icon]="['fas', 'check-circle']"></fa-icon>
          These cases are perfectly simple and easy to distinguish. 
        </span>
        <span class="option-check" style="color: {{ curso.cor }};"><fa-icon class="icons-check" [icon]="['fas', 'check-circle']"></fa-icon>
          These cases are perfectly simple and easy to distinguish. 
        </span>
        <span class="option-check" style="color: {{ curso.cor }};"><fa-icon class="icons-check" [icon]="['fas', 'check-circle']"></fa-icon>
          These cases are perfectly simple and easy to distinguish. 
        </span>
        <span class="option-check" style="color: {{ curso.cor }};"><fa-icon class="icons-check" [icon]="['fas', 'check-circle']"></fa-icon>
          These cases are perfectly simple and easy to distinguish. 
        </span>
      </div>
      <button class="{{ curso.background }}">Conheça os cursos</button>

    </div>
  </div>

</div>

<app-carrosselacessorapido></app-carrosselacessorapido>

<app-carrosselunidades></app-carrosselunidades>

<div class="footer">
    <img src="../../../assets/images/footer.png" alt="" srcset="">
</div>