<app-header></app-header>
<app-menu></app-menu>

<div class="content-title">
    <div class="itens-title">
      Home
    </div>
    <div class="itens-title">
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
    <div class="itens-title">
      Senac
    </div>
    <div class="itens-title">
      <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </div>
    <div class="itens-title">
      Programa Senac Gratuidade
    </div>
</div>

<mat-card class="example-card" style="background-image: url('../../../assets/images/psg/full-shot-smiley-students-library.jpg');">
    <div class="text-banner-company">
      <div class="title-banner-company">Programa Senac Gratuidade</div>
      <div class="subtitle-banner-company">
        Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. 
      </div>
    </div>
</mat-card>

<div class="container-detail-psg">
  <div class="itens-detail-psg" style="background-color: rgba(68, 126, 242, 1);">
    <div class="title-itens-psg">O que é PSG?</div>
    <div class="descript-itens-psg">
      On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
    </div>
  </div>
  <div class="itens-detail-psg" style="background-color: rgba(254, 194, 0, 1);">
    <div class="title-itens-psg">Regulamento</div>
    <div class="descript-itens-psg">
      On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
    </div>
  </div>
  <div class="itens-detail-psg" style="background-color: rgba(255, 0, 0, 1);">
    <div class="title-itens-psg">Vagas</div>
    <div class="descript-itens-psg">
      On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.
    </div>
  </div>
</div>

<div class="container-psg">
  <div class="container-img-psg">
    <img src="../../../assets/images/psg/Captura de tela 2024-01-19 151201.png" alt="">
  </div>
  <div class="container-descripton-psg">
    <div class="title-detail-psg">O QUE É</div>
    <div class="subtitle-detail-psg">Programa Senac Gratuidade?</div>
    <div class="descript-psg">
      But I must explain to you how all this mistaken idea of 
      denouncing pleasure and praising pain was born and I will 
      give you a complete account of the system, and expound the 
      actual teachings of the great explorer of the truth, the 
      master-builder of human happiness. No one rejects, dislikes, 
      or avoids pleasure itself, because it is pleasure, but because 
      those who do not know how to pursue pleasure rationally 
      encounter consequences that are extremely painful.
    </div>
  </div>
</div>

<div class="container-descript-psg">
  <div class="content-descript-psg">
    <div class="itens-descript-psg" style="background-color: rgba(254, 194, 0, 1);">
      <div class="title-descript-psg">CONFIRA O</div>
      <div class="subtitle-descript-psg">Regulamento</div>
      <div class="text-descript">
        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
      </div>
      <div class="link-descript">
        <a href="">Diretrizes</a>
      </div>
    </div>
    <div class="itens-descript-psg" style="background-color: rgba(255, 0, 0, 1);">
      <div class="subtitle-descript-psg">Metodologia de Cálculo</div>
      <div class="text-descript">
        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
      </div>
      <div class="link-descript">
        <a href="">Saiba-mais</a>
      </div>
    </div>
    <div class="itens-descript-psg" style="background-color: rgba(68, 126, 242, 1);">
      <div class="subtitle-descript-psg">Editais</div>
      <div class="text-descript">
        No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.
      </div>    
      <div class="link-descript">
        <a href="">Acompanhe aqui os editais do PSG.</a>
      </div>
    </div>
  </div>
  <div class="container-img-psg">
    <img src="../../../assets/images/psg/Captura de tela 2024-01-19 151138.png" alt="">
  </div>
</div>

<div class="title-carousel">
  Cursos disponíveis
</div>
<app-carousel></app-carousel>

<div class="banner-secondary">
  <div class="img-banner-secondary">
    <img src="../../../assets/images/psg/3ca89267-f489-469d-bbfa-5829d59c022c.png" alt="">
  </div>
  <div class="descript-banner-secondary">
    <div class="container-title-banner-descript">
      <div class="title-banner-secondary">COMO SE INSCREVER NO</div>
      <div class="subtitle-banner-secondary">Programa Senac Gratuidade?</div>
    </div>
      <div class="subdescript-banner-secondary">
      But I must explain to you how all this mistaken idea of 
      denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.?</div>
  </div>
</div>

<div class="title-carousel">
  Unidades
</div>
<app-carrosselunidades></app-carrosselunidades>
