<div class="content">
  <div class="menuoption" >
    
    <div class="itens">
      <img src="../../../assets/logo.png" srcset="">
    </div>

    <div class="itens {{ classeCSS['classeCurso'] }}">
      <button (click)="toggleIcone('cursos','classeCurso')" mat-button [matMenuTriggerFor]="menu">Cursos
      <fa-icon *ngIf="!iconeClicado['cursos']" [icon]="['fas', 'chevron-down']"></fa-icon>
      <fa-icon *ngIf="iconeClicado['cursos']" [icon]="['fas', 'chevron-up']"></fa-icon>
      </button>

      <mat-menu #menu="matMenu" (close)="toggleIcone('cursos', 'classeCurso')">
        <div class="menu-itens">
          <div class="subtitle">
            <span class="title">Áreas</span>
            <button mat-menu-item (click)="navigateToCursoDetail(listas[0])">Beleza e Estética</button>
            <button mat-menu-item>Comércio e Vendas</button>
            <button mat-menu-item>Comunicação e Marketinf</button>
            <button mat-menu-item>Design</button>
            <button mat-menu-item>Gastronomia</button>
            <button mat-menu-item>Idiomas</button>
            <button mat-menu-item (click)="navigateToCursoDetail(listas[1])">Tecnologia da informação</button>
            <button mat-menu-item>Saúde</button>
            <button mat-menu-item>Segurança do Trabalho</button>
            <button mat-menu-item>Turismo e Hospitalidade</button>
          </div>
          <div class="subtitle">
            <span class="title">Tipos</span>
            <button mat-menu-item>Livres</button>
            <button mat-menu-item>Idiomas</button>
            <button mat-menu-item>Técnico</button>
            <button mat-menu-item>Senac EAD</button>
          </div>  
        </div>
      </mat-menu>
    </div>

    <div  class="itens {{ classeCSS['classeUnidade'] }}">
      <button (click)="toggleIcone('unidades', 'classeUnidade')" mat-button [matMenuTriggerFor]="unidades">Unidades
        <fa-icon *ngIf="!iconeClicado['unidades']" [icon]="['fas', 'chevron-down']"></fa-icon>
        <fa-icon *ngIf="iconeClicado['unidades']" [icon]="['fas', 'chevron-up']"></fa-icon>
      </button>

      <mat-menu #unidades="matMenu" (close)="toggleIcone('unidades', 'classeUnidade')">
        <div class="menu-itens">
          <div class="subtitle">
            <span class="title">Unidades</span>
            <button mat-menu-item (click)="navigateToUnidadeDetail()">Assú</button>
            <button mat-menu-item>Caicó</button>
            <button mat-menu-item>Mossoró</button>
            <button mat-menu-item>Natal - Alecrim</button>
            <button mat-menu-item>Natal - Barreiras Roxa</button>
            <button mat-menu-item>Natal - Centro</button>
            <button mat-menu-item>Natal - Zona Norte</button>
            <button mat-menu-item>Natal - Zona Sul</button>
          </div> 
        </div>
      </mat-menu>
    </div>

    <div class="itens {{ classeCSS['classeSenac'] }}">
      <button (click)="toggleIcone('senac', 'classeSenac')" mat-button [matMenuTriggerFor]="senac">Senac
        <fa-icon *ngIf="!iconeClicado['senac']" [icon]="['fas', 'chevron-down']"></fa-icon>
        <fa-icon *ngIf="iconeClicado['senac']" [icon]="['fas', 'chevron-up']"></fa-icon>
      </button>

      <mat-menu #senac="matMenu" (close)="toggleIcone('senac', 'classeSenac')">
        <div class="menu-itens">
          <div class="subtitle">
            <button mat-menu-item>Senac Empregabilidade</button>
            <button mat-menu-item>Senac Gratuidade</button>
          </div> 
        </div>
      </mat-menu>
    </div>

    <div class="itens colorblue">
      <a (click)="navigateToCompanyDetail()">Para Empresas</a>
    </div>

    <div class="itens colorblue">
      <a>Blog</a>
    </div>

    <div class="itens">
      <div class="submit-line">
        <input mat-button [matMenuTriggerFor]="input" type="search" name="onchange" id="change" placeholder="O que você procura?">
        <fa-icon class="search-icon" [icon]="['fas', 'magnifying-glass']"></fa-icon>
      </div>

      <mat-menu [class.teste]="true" #input="matMenu">
        <div class="menu-input">
          <span class="title">Cursos</span>
          <div class="subtitle-input">
            <button mat-menu-item>Comunicação</button>
            <button mat-menu-item>Gastronomia</button>
            <button mat-menu-item>Gestão e negócios</button>
            <button mat-menu-item>Idiomas</button>
            <button mat-menu-item>Tecnologia da informação</button>
            <button mat-menu-item>Saúde</button>
            <div class="link">Ver todos os resultados</div>
          </div>

          <span class="title">Páginas</span>
          <div class="subtitle-input">
            <button mat-menu-item>Comunicação</button>
            <button mat-menu-item>Comunicação</button>
            <button mat-menu-item>Comunicação</button>
            <button mat-menu-item>Comunicação</button>
            <div class="link">Ver todos os resultados</div>
          </div>  
        </div>
      </mat-menu>
    </div>
 
  </div>
</div>

<!-- <router-outleat></router-outleat> -->